<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        border: 0;
        padding: 8px;
        text-align: left;
    }


</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
</head>
<body>
<div class="container">
    <h1> Welcome back!</h1>
    <a th:href="@{'/'}">Home</a>
    <hr />
    <form action ="#"
          th:action="@{/login}"
          method="POST">
        <div>
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="Enter your name..." required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Enter your password..." required/>
        </div>
        <button type ="submit">Login!</button>
    </form>
</div>
</body>
</html>